body {
  background-color: blanchedalmond;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
p {
  text-align: center;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

#ta {
  background-color: beige;
  text-align: center;
}
#ki {
  text-size-adjust: 100px;
}
#titulo2 {
  font-family: 'Times New Roman', Times, serif;
}
#informacoes {
  background-color: blueviolet;
}
#cardpokemon {
  background-color: dodgerblue;
}
#imagempk {
  background-color: darkorange;
}
